.itemContainer {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    font-family: Polysans, sans-serif;
}

.image {
    max-width: 100%;
    height: auto;
}

.itemContent {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.iteName {
    font-size: 1em;
    font-weight: 600;
    color: #393e46;
}

.itemBtn {
    background-color: greenyellow;
    border: none;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
}

.btnContainer {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}